.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--textSoft);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    
    margin-top: 20px;
    
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.userImage {
    border-radius: 50%;
    
}

.cancelled {
    background-color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    
}

.done {
    background-color: lime;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    
    
}

.pending {
    background-color: yellow;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.table td {
    padding: 10px;
}