.container{
    position: sticky;
    top: 40px;
    
}
.users{
    display: flex;
    align-items:center ;
    gap: 20px;
    margin-bottom: 20px;
}
.userImage{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}
.userDetail{
    display: flex;
    flex-direction: column;
}
.username{
    font-size: 1.2rem;
    font-weight: 500;
}
.userTitle{
    font-size: 1rem;
    color: var(--textSoft);
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.cat{
    font-size: 13px;
    color: var(--textSoft);
    font-weight: bold;
    margin : 10px 0;
    
}
.logout{
   width: 100%;
    display: flex;
    margin: 5px 0;
    padding: 20px;
    align-items: center;
    border: none;
    color: white;
    gap: 10px;
    background:none;
    cursor: pointer;
}
.logout:hover{
    background-color: #2e374a;
    border-radius: 0.6rem;
}